body{
    background-color: aqua;
}

#container{
    width: 1000px;
    height: 550px;
    margin: 20px auto;
    background-image: linear-gradient(blue, red, green, purple);
}

#calculator{
    width: 320px;
    height: 500px;
    background-color: black;
    top: 20px;
    position: relative;
    margin: 0px auto;
    border-radius: 5px;
}

#keyboard{
    height: 400px;
}

.operator, .number, .empty{
width: 50px;
height: 50px;
margin: 15px;
float: left;
background-color: white;
border-radius: 50%;
}

.number:active, .operator:active{
    background-color: blue;
}

.operator, .number{
    cursor: pointer;
}

#result{
    height:100px;

}

#history{
text-align: right;
margin: 0 20px;
height: 20px;
padding-top: 10px;
font-size: 15px;
color: grey;
}

#output{
    text-align: right;
    margin: 10px 20px;
    height: 60px;
    font-size: 30px;
}

button:nth-child(4){
    font-size: 20px;
    background-color: aqua;
}

button:nth-child(8){
    font-size: 20px;
    background-color: green;
}

button:nth-child(12){
    font-size: 20px;
    background-color:lightblue;
}

button:nth-child(16){
    font-size: 20px;
    background-color: yellow;
}

button:nth-child(20){
    font-size: 20px;
    background-color: burlywood;
}